# Prerequisites
*.d
teste.c
release
# Object files
*.o
*.ko
*.obj
*.elf
src/imports
*.pyc
cache2

out_folder
# Linker output
*.ilk
main
*.map
*.exp
*__pycache__
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
!build.exe
!build.out
